<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>cherrymaint</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="float:right">
Branch in which cherry-picks will go:
<% FOREACH b IN branches %>
<% IF b == branch %>
[<b><% b %></b>]
<% ELSE %>
[<a href="/?ro=<% ro %>&branch=<% b %>&filt=<% filt %>"><% b %></a>]
<% END %>
<% END %>
<% UNLESS ro %>
- [<a href="/?ro=1&branch=<% branch %>&filt=<% filt %>">Read-only view</a>]
<% END %>
</div>
<h1><a href="/?ro=<% ro %>&branch=<% branch %>&filt=<% filt %>" style="text-decoration:none">cherrymaint</a></h1>
<div id="content">
<p><% content %></p>
</div>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> 
</div>
</body>
</html>
