body {
    font-family: Lucida,sans-serif;   
    color: black;
    background-color: white;
}

H1 { border-bottom: thin solid black }

#footer {
    border-top: 1px solid #aba29c;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #999;
}

tr.status0 { background-color: white; color: black }
tr.status1 { background-color: #EEE; color: #999 }
tr.status2 { background-color: #5F5; color: black }
tr.status3 { background-color: #FF5; color: black }
tr.status4 { background-color: #F55; color: black }
tr.status5 { background-color: #55F; color: black }
tr.status6 { background-color: #F5F; color: black }

td.vote { font-size: small }
